@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@theme {
  --color-brand-primary: #1D4ED8;
  --color-brand-accent: #FACC15; /* Amarelo no modo claro */
}

@theme dark {
  --color-brand-primary: #2563EB;
  --color-brand-accent: #22D3EE; /* Ciano no modo escuro */
}